input {
  box-sizing: border-box;
  background: transparent;
  border: 0;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
  width: 100%;
}

.list {
  padding-left: 10px;
}

.item {
  font-family: Lato;
  font-size: 16px;
  color: #fff;
  margin: 5px 0;
}
