.strudelDevtools-highlighter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 218, 92, 0.6);
  border: 1px solid rgba(255, 218, 92, 0.9);
  border-radius: 5px;
  z-index: 999999;
}

.strudelDevtools-highlighter-name {
  font-family: monospace;
  color: #525252;
}
