.header {
  padding: 10px;
  border-bottom: 1px solid #8c8c8c;
}

.logo {
  width: 30px;
}

.heading {
  font-family: Lato;
  font-weight: 200;
  display: inline-block;
  vertical-align: top;
  color: #ffda5c;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
}
