body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.app {
  --main-text-color: #757575;
  --border-color: rgba(0, 0, 0, .08);
  --brand-color: #ffda5c;
  --highlight-color: #534227;
  --background: #fff;
  --object-key-color: #8b007d;
  --object-value-literal-color: #03c;
  --object-value-string-color: #c41a16;
  --object-value-string-span-color: var(--main-text-color);
  --colon-color: #000;
  --event-name-color: var(--object-key-color);
  --arrow-color: #444;
  color: var(--main-text-color);
}

.app.dark {
  --main-text-color: #ffffff84;
  --border-color: rgba(255, 255, 255, .08);
  --highlight-color: var(--brand-color);
  --highlight-component-name-color: #534227;
  --markup-color: #E5C453;
  --highlight-markup-color: #40331E;
  --object-key-color: #E500CE;
  --object-value-literal-color: #0B7AE3;
  --colon-color: var(--main-text-color);
  --event-name-color: var(--object-key-color);
  --background: #242424;
}

input {
  box-sizing: border-box;
  background: transparent;
  border: 0;
  font-size: 16px;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  outline: none;
  color: var(--main-text-color);
  background: var(--background) url(assets/search.svg) 10px 17px no-repeat;
}

::-webkit-input-placeholder {
  color: #cccccc;
}

.list {
  padding: 10px 5px;
  margin: 0;
}

.list.list--event {
  padding: 0 5px;
}

.item {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: var(--highlight-color);
  padding: 3px 5px;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.item.event {
  padding: 5px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 0;
  border-radius: 0;
}

.item.selected {
  background: var(--brand-color);
  border-radius: 3px;
}

.dark .item.selected {
  color: var(--highlight-component-name-color);
}

.item span {
  color: var(--markup-color);
  opacity: .5;
}

.item.selected span {
  color: var(--highlight-markup-color);
}

.item span:first-of-type {
  margin-right: 2px;
}

.item span:last-of-type {
  margin-left: 2px;
}

.item.event span {
  opacity: 1;
}

.header {
  padding: 15px 10px;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  width: 30px;
}

.heading {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  color: var(--highlight-color);
  font-size: 16px;
  line-height: 10px;
  margin-left: 15px;
}

.navigation {
  float: right;
  padding-top: 3px;
}

.navigation a {
  display: inline-block;
  margin: 0 15px;
  font-size: 16px;
  color: var(--main-text-color);
  padding-bottom: 3px;
  text-decoration: none;
}

.navigation .active {
  border-bottom: 4px solid var(--brand-color);
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  position: relative;
}

.column+.column {
  border-left: 1px solid var(--border-color);
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inspector-heading {
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
  padding: 13.5px 10px;
  font-size: 16px;
  font-weight: 400;
}

.inspector-heading:hover {
  cursor: default;
}

h3.inspector-heading {
  border: none;
  margin: 15px 10px 10px;
  padding: 0;
  font-size: 15px;
}

.eventName,
.by {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  margin-right: 5px;
  opacity: 1 !important;
  position: relative;
  top: -2px;
}

.eventName {
  color: var(--event-name-color) !important;
}

.by {
  margin-right: 5px;
  color: var(--main-text-color) !important;
}

.small {
  font-size: 10px !important;
}

.name {
  font-size: 12px;
}

.timestamp {
  font-size: 12px !important;
  float: right;
}

.scrollPane {
  overflow: scroll;
  height: 100%;
}

.filter {
  position: relative;
}

.clear {
  position: absolute;
  background: none;
  border: none;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: none;
  color: var(--main-text-color);
}

.is-hidden {
  display: none;
}

.arrow {
  margin-right: 3px;
  width: 0;
  height: 0;
}

.property {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.key {
  color: var(--object-key-color) !important;
}

.value.literal {
  color: var(--object-value-literal-color) !important;
}

.value.string {
  color: var(--object-value-string-color) !important;
}

.value.string span {
  color: var(--object-value-string-span-color) !important;
}

.value.HTML-element {
  position: relative;
  color: #03c !important;
  display: inline-block;
  width: 150px;
}

.value.HTML-element .crosshair {
  right: 20px;
}

.inspector {
  margin: 10px;
  line-height: 1.5;
}

.children {
  margin-left: 20px;
}

.colon {
  margin-right: 3px;
  color: var(--colon-color);
}

.property span {
  display: inline-block;
  line-height: 2em;
}

.arrow.right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid var(--arrow-color);
}

.arrow.bottom {
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 6px solid var(--arrow-color);
}

.event-inspector h2 {
  font-size: 16px;
  margin-left: 15px;
  font-weight: 300;
}

.event-inspector .inspector {
  padding: 0 30px;
  margin: 0;
}

.crosshair,
.eye {
  display: none;
  height: 15px;
  width: 15px;
  border: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.crosshair {
  background: url(assets/crosshair.svg) center / 15px no-repeat;
  right: 5px;
}

.eye {
  background: url(assets/eye.svg) center / 15px no-repeat;
  right: 30px;
}

.value.HTML-element:hover .crosshair {
  display: block;
}

.item:hover .crosshair,
.item:hover .eye {
  display: block;
}

.crosshair:focus,
.eye:focus {
  outline: 0;
}

.crosshair:hover,
.eye:hover {
  cursor: pointer;
}
